@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  outline: none;
}

section {
  padding: 50px 0;
}
.login-btn {
  color:  0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
}

/* Header */
.header-group {
  background-image: url('./assets/image/group_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
}
.is-active {
  color: #f97316;
  background-color: #fde9de;
}
.text-truncate {
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.tippy-box {
  background-color: white;
  color: red;
  border: 1px solid;
}

.svg-content {
  fill: white;
}

.svg-arrow {
  fill: red;
}